{% extends "basehome.html" %}
 
{% block title %}Home{% endblock %}
 
{% block body %}
    <div class="container-fluid mt-2 mb-2">
        <div class="col-20">
            <h1>Selamat Datang di Database Donasi Untuk COVID-19</h1>
        </div>
    </div>
    <div class="container-fluid mt-2 mb-2">
        <p>Untuk menambahkan data Donasi, klik tombol <a href="../public/donasi/index">Tambah Donasi</a></p><br />
        <p>Untuk melihat donasi yang telah terinput, klik tombol <a href="../public/jenis">List Donasi</a></p>
    </div>

 
{% endblock %}
